@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Vina+Sans&display=swap');
/*Adds the dash in front of ul*/
ul{
  list-style-type: none;
}
ul > li {
  text-indent: -5px;
}
ul > li:before {
  content: "-";
  text-indent: -5px;
  font-size: 50px;
  margin-right: 15px;
}
/* desktop view */
@media (min-width: 1024px) {
  html {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
  }
  body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    background-color: #99AA65;
  }
  footer {
    background-color: #446198;
    color: white;
    font-weight: 500;
    text-align: center;
    width: 110%;
    height: 10em;
    text-align: center;
    padding-top: 3em;
    padding-bottom: .5em;
    margin-top: 4em;
  }
  .nav-upload-middle {
    display: inline-block;
    margin: 0 auto;
  }
  #logo-upload-middle {
    height: 100px;
    width: 600px;
  }
  nav {
    background-color: #335879;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em; 
  }
  #logo-container {
    text-align: center;
  }
  #links-container {
    display: flex;
  }
  nav a {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 0 1em; 
  }
  nav a:hover {
    text-decoration: none;
    color: #707f42;
  }
  #logo-horiz {
    height: 100px;
    width: 600px; 
  }
  /* Upload card */
  .upload-container {
    display: flex;
    margin: 0;
    /* margin-top: -1.5em; */
    /* margin-bottom: 3em; */
  }
  .upload-card {
    position: relative;
    z-index: 3;
    /* width: 15em; */
    margin: 0 20px;
    padding: 30px 30px 44px;
    border-radius: 1.25rem;
    background: #707f42;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .upload-form {
    /* width: 15em; */
    margin: 0;
    display: grid;
    gap: 16px;
  }
  .upload-form > input,
  .upload-form > button {
    width: 75%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .upload-form > input {
    border: 2px solid white;
    font-size: 15px;
    padding: 0 16px;
    border-radius: 1.25rem;
    transition: all 0.375s;
    color:white;
  }
  .upload-form > input:hover {
    border: 2px solid #335879;
  }
  .upload-form > button {
    cursor: pointer;
    width: 125px;
    border-radius: 1.25rem;
    background: #335879;
    color: white;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    transition: all 0.375s;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .upload-form > button:hover {
    background: #323031;
  }
  .upload-form > textarea{
    background-color: #ebebeb;
  }
    .current-site-text{
    margin-top: 2em;
  }
  .current-site-text a {
    text-decoration: none;
    color: white; 
  }
  /* Menu page cards */
  .menu-container {
    display: flex;
    margin: 0;
    margin-bottom: 3em;
  }
  .menu {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    width: 33%;
    color: white;
    border-radius: 1.25rem;
    background-color: #707f42;
    margin: 3em;
    text-align: left;
  }
  .divider {
    height: 0.05px;
    color: white;
    /* width: 300px; */
  }
  #dateTXT{
    padding: 0;
    margin: 0;
  }
  /* For checkbox */
  .checkbox-label {
    align-items: center;
  }
  .custom-checkbox {
    width: 18px;
    height: 18px;
    margin-right: 15px;
  }
  .checkbox-text {
    font-size: 18px;
  }
  /* Other stuff */
  .no-style-link{
    font-weight: 700;
    font-size:medium;
    font-style: normal;
    text-decoration: none;
  }
  .white-address {
    color: white;
  }
  .map-pic {
    margin-top: 3em;
    margin-bottom: 6em;
  }
  .join{
    color: #323031;
    display: flex;
    width: 100%;
    height: 4em;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5em;
    padding-top: 1em;
  }
  /* For COMMON INFO */
  .card-COMMON {
    border: 9px dashed #446198;
    /* border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='10' viewBox='0 0 20 10'%3E%3Ccircle cx='5' cy='5' r='3' fill='black'/%3E%3C/svg%3E"); */
    /* border-radius: 1.25rem; */
    margin: 1em;
    width: 33%;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* background-color: #335879; */
    color: #446198;
    flex: 1;
    font-weight: 700;
    stroke-width: 3px;
    text-align: center;
    text-transform: uppercase;
  }
  .payments {
    text-align: left;
    font-size: 32px;
  }
  .card-COMMON h2 {
    color: #707F43;
    font-size: 48px;
    font-family: "Vina Sans";
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
    letter-spacing: 1.44px;
  }
  .card-COMMON p {
    font-size: 20px;
    font-family: Kurale;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
  }
  .card-container-COMMON {
    display: flex;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: #FFFDE9;
    border-radius: 9px;
    width: 90%;
    margin: auto;
  }
  /* For WHATSINCLUDED INFO */
  .card-WHATSINCLUDED {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 74px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: #335879;
    flex: 1;
    margin-left: 3em;
    margin-right: 3em;
    min-width: 700px;
    text-align: left;
  }
  .card-WHATSINCLUDED h2 {
    color: #335879;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
  }
  .card-WHATSINCLUDED span {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .card-WHATSINCLUDED ul {
    margin-left: 190px;
  }
  .card-WHATSINCLUDED .info-label {
    font-weight: bold;
  }
  .card-container-WHATSINCLUDED {
    display: flex;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  /* about page */
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-ABOUT-LARGE-TOP {
    background-color: #707f42;
    width: 1300px;
    height: 500px;
    margin: 40px;
    margin-top: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1.25em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card-container-ABOUT-MIDDLE {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .card-ABOUT {
    background-color: #707f42;
    width: 600px;
    height: 550px;
    margin: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1.25em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-ABOUT-LARGE-BOTTOM {
    background-color: #707f42;
    width: 1300px;
    height: 500px;
    margin: 40px;
    margin-top: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1.25em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
  }
  .rounded-image-about {
    border-radius: 1.25em;
    overflow: hidden;
    margin: 20px;
  }
  .learn-more-link{
    margin-top: 1em;
  }
  .learn-more-link a {
    text-decoration: none;
    color: white; 
  }
  .about-small-text {
    color: white; 
    font-size: 20px;
  }
  .about-medium-text {
    color: white; 
    font-size: 60px;
  }
  .about-large-text {
    color:#335879; 
    font-size: 110px;
  }
  .about-desc-text {
    color: #335879; 
    font-size: 40px;
  }
  /* email input at the bottom of home page */
  .form-EMAIL > input {
    /* width: 20em; */
    height: 50px;
    border: 2px solid #707f42;
    font-size: 20px;
    padding: 0 16px;
    border-radius: 1.25rem;
    transition: all 0.375s;
    color: #323031;
    margin-left:1em;
    text-align: center;
  }
  .form-EMAIL > input:hover {
    border: 2px solid #335879;
  }
  .form-EMAIL > button {
    cursor: pointer;
    /* width: 150px; */
    height: 55px;
    margin-right:1em;
    border-radius: 1.25rem;
    background: #707f42;
    color: white;
    border: 0;
    font-size: 20px;
    text-align: center;
    transition: all 0.375s;
    margin-left: auto;
    margin-right: 1em;
    font-weight: bold;
    padding:0 16px;
    float:right;
  }
  .form-EMAIL > button:hover {
    background: #335879;
  }
  .form-container{
    /* display: flex; */
    width: 25%;
    /* height: 2em; */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding-bottom: 2em;
    padding-top: 2em; */
  }
  #summerhero{
    background-image: url(content/ClosedForSummer.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 300px;
    padding-bottom: 1em;
    margin-top:2em;
  }
  #winterhero{
    background-image: url(content/ClosedForWinter.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 300px;
    padding-bottom: 1em;
    margin-top:2em;
    margin-left:4.1em;
  }
  #springhero{
    background-image: url(content/ClosedForSpring.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 500px;
    padding-bottom: 1em;
    /* margin-top:2em; */
    margin: 1em 2em 1em 0em;
    /* margin-left:4.1em; */
  }
}

/* mobile view and half-desktop */
@media (max-width: 1023px) {
  html {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
  }
  body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    background-color: #f3f1df;
  }
  footer {
    background-color: #323031;
    color: white;
    font-weight: 500;
    text-align: center;
    width: 110%;
    height: 6em;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 5em;
    margin-top: 5em;
  }
  .nav-upload-middle {
    display: inline-block;
    margin: 0 auto;
  }
  #logo-upload-middle {
    height: 50px;
    width: 250px;
  }
  nav {
    background-color: #335879;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em; 
    margin-bottom: 2em;
  }
  #logo-container {
    text-align: center;
  }
  #links-container {
    display: flex;
  }
  nav a {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 0 .5em; 
  }
  nav a:hover {
    text-decoration: none;
    color: #707f42;
  }
  #logo-horiz {
    height: 50px;
    width: 240px; 
  }
  /* Upload card */
  .upload-card {
    position: relative;
    z-index: 3;
    max-width: 500px;
    flex: 1;
    margin: 0 20px;
    padding: 30px 30px 44px;
    border-radius: 1.25rem;
    background: #707f42;
    text-align: center;
    margin-bottom: 5em;
    margin-top: 5em;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .upload-form {
    max-width: 500px;
    margin: 0;
    display: grid;
    gap: 16px;
  }
  .upload-form > input,
  .upload-form > button {
    width: 75%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .upload-form > input {
    border: 2px solid #ebebeb;
    font-size: 15px;
    padding: 0 16px;
    border-radius: 1.25rem;
    transition: all 0.375s;
  }
  .upload-form > input:hover {
    border: 2px solid #335879;
  }
  .upload-form > button {
    cursor: pointer;
    width: 125px;
    border-radius: 1.25rem;
    background: #335879;
    color: white;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    transition: all 0.375s;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .upload-form > button:hover {
    background: #323031;
  }
  .current-site-text{
    margin-top: 2em;
  }
  .current-site-text a {
    text-decoration: none;
    color: white; 
  }
  /* Menu page cards */
  .menu-container {
    display: flex;
    flex-direction: column;
  }
  .menu {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    max-width: 500px;
    /* height: 1000px; */
    color: white;
    border-radius: 1.25rem;
    background-color: #707f42;
    margin: 3em;
    text-align: left;
  }
  .divider {
    height: 0.05px;
    color: white;
    width: 300px;
    padding: 0;
    margin: 0;
  }
  #dateTXT{
    padding: 0;
    margin: 0;
  }
  /* For checkbox */
  .checkbox-label {
    align-items: center;
  }
  .custom-checkbox {
    width: 18px;
    height: 18px;
    margin-right: 15px;
  }
  .checkbox-text {
    font-size: 18px;
  }
  /* Other stuff */
  .no-style-link{
    font-weight: 700;
    font-size:medium;
    font-style: normal;
    text-decoration: none;
  }
  .white-address {
    color: white;
  }
  .map-pic {
    margin-top: 3em;
    margin-bottom: 4em;
    max-width: 300px;
    max-height: 200px;
  }
  .join{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    padding-top: 0em;
    padding-bottom: 0em;
    flex-direction: column;
    text-align: center;
    color: #323031;
  }
  /* For COMMON INFO */
  .card-COMMON {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 1.25rem;
    margin-left: 3em;
    margin-right: 3em;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #335879;
    color: white;
    flex: 1;
    font-weight: 700;
    margin-bottom: 6em;
  }
  .card-COMMON h2 {
    color: #f3f1df;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .card-COMMON p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .card-COMMON .info-label {
    font-weight: bold;
  }
  .card-container-COMMON {
    display: flex;
    margin-top: 3em;
    margin-bottom: 3em;
    flex-direction: column;
  }
  /* For WHATSINCLUDED INFO */
  .card-WHATSINCLUDED {
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 1.25rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: white;
      color: #335879;
      flex: 1;
      margin-left: 3em;
      margin-right: 3em;
      font-weight: 700;
      max-width: 500px;
      text-align: center;
    }
  .card-WHATSINCLUDED h2 {
      color: #335879;
      font-size: 35px;
      margin-bottom: 10px;
    }
  .card-WHATSINCLUDED p {
      font-size: 20px;
      margin-bottom: 10px;
    }
  .card-WHATSINCLUDED .info-label {
      font-weight: bold;
    }
  .card-container-WHATSINCLUDED {
      display: flex;
      margin-top: 3em;
      margin-bottom: 6em;
    }
  /* about page */
  .about-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-ABOUT-LARGE-TOP,
  .card-ABOUT {
    width: 90%; 
    height: 500px; 
    margin: 10px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #707f42;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1.25em;
  }
  .card-ABOUT-LARGE-BOTTOM {
    width: 90%; 
    height: 800px; 
    margin: 10px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #707f42;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1.25em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .card-container-ABOUT-MIDDLE {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
  }
  .rounded-image-about {
    border-radius: 1.25em;
    overflow: hidden;
    margin: 30px; 
  }
  .learn-more-link{
    margin-top: 1em;
  }
  .learn-more-link a {
    text-decoration: none;
    color: white; 
  }
  .about-small-text {
    color: white; 
    font-size: 20px;
  }
  .about-medium-text {
    color: white; 
    font-size: 50px;
  }
  .about-large-text {
    color:#335879; 
    font-size: 70px;
  }
  .about-desc-text {
    color: #335879; 
    font-size: 40px;
  }
  /* email input at the bottom of home page */
  .form-EMAIL > input {
    /* width: 10em; */
    height: 50px;
    border: 2px solid #707f42;
    font-size: 15px;
    padding-left: 8px;
    border-radius: 1.25rem;
    transition: all 0.375s;
    color: #323031;
  }
  .form-EMAIL > input:hover {
    border: 2px solid #335879;
  }
  .form-EMAIL > button {
    cursor: pointer;
    /* width: 100px; */
    float: right;
    height: 50px;
    border-radius: 1.25rem;
    background: #707f42;
    color: white;
    border: 0;
    font-size: 15px;
    text-align: center;
    transition: all 0.375s;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
  }
  .form-EMAIL > button:hover {
    background: #335879;
  }
  .form-EMAIL{
    display: none;
  }
  .form-container{
    /* display: none; */
    /* width: 100%; */
    height: 2em;
    float: right;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 2em;
    padding-top: 1em; */
  }
  #summerhero{
    background-image: url(content/ClosedForSummer.png);
    background-repeat: no-repeat;
    background-size:contain;
    display: block;
    height: 300px;
  }
  #winterhero{
    background-image: url(content/ClosedForWinter.png);
    background-repeat: no-repeat;
    background-size:contain;
    display: block;
    height: 300px;
  }
  
}



.menuCard {
  color: #335879;
  font-size: 50px;
  -webkit-text-stroke: .5px #F3F1DF;
  padding: 0;
  margin: 0;
}
.menuSectionTitle {
  /* color:#335879; */
  color:#F3F1DF;
  /* -webkit-text-stroke: .5px #F3F1DF; */
  -webkit-text-stroke: 2.5px #335879;
}
.closed{
  font-size: 40px;
  text-align: center;
}
.menu-items-spaced-over {
  margin-left: 2.5em;
  color: white;
  padding:0;
}

